Task 1
Read the dataset and name is as df

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv')

Print first 10 observations of the dataset

In [3]:
df.head(10)

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0
5    6      01/22/2020      Guangdong  ...      26.0    0.0        0.0
6    7      01/22/2020        Guangxi  ...       2.0    0.0        0.0
7    8      01/22/2020        Guizhou  ...       1.0    0.0        0.0
8    9      01/22/2020         Hainan  ...       4.0    0.0        0.0
9   10      01/22/2020          Hebei  ...       1.0    0.0        0.0

[10 rows x 8 columns]

Check for the data types of the all the variables in the dataset

In [5]:
df.dtypes

SNo                  int64
ObservationDate     object
Province/State      object
Country/Region      object
Last Update         object
Confirmed          float64
Deaths             float64
Recovered          float64
dtype: object

Convert columns ['ObservationDate'] and ['Last Update'] to from object to datatime data type.

In [6]:
df.shape

(40805, 8)

In [7]:
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])

In [8]:
df['Last Update'] = pd.to_datetime(df['Last Update'])

In [9]:
df.dtypes

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

Task 2
Create a subset of the data df, only taking observations which was last updated on 2020-06-13 03:33:14 and name this dataframe as updated_data.

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv')

In [11]:
df.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [77]:
df.tail(729)

         SNo ObservationDate      Province/State  ... Confirmed Deaths  Recovered
40076  40077      06/12/2020                 NaN  ...   23546.0  446.0     3928.0
40077  40078      06/12/2020                 NaN  ...    1416.0   36.0     1034.0
40078  40079      06/12/2020                 NaN  ...   10698.0  751.0     7322.0
40079  40080      06/12/2020                 NaN  ...     853.0   51.0      781.0
40080  40081      06/12/2020                 NaN  ...     130.0    5.0       42.0
...      ...             ...                 ...  ...       ...    ...        ...
40800  40801      06/12/2020           Zacatecas  ...     501.0   55.0      279.0
40801  40802      06/12/2020  Zakarpattia Oblast  ...    1506.0   38.0      675.0
40802  40803      06/12/2020   Zaporizhia Oblast  ...     515.0   15.0      322.0
40803  40804      06/12/2020            Zhejiang  ...    1268.0    1.0     1267.0
40804  40805      06/12/2020     Zhytomyr Oblast  ...    1013.0   17.0      527.0

[729 rows x 8 columns]

In [12]:
df['Last Update'].unique

<bound method Series.unique of 0            1/22/2020 17:00
1            1/22/2020 17:00
2            1/22/2020 17:00
3            1/22/2020 17:00
4            1/22/2020 17:00
                ...
40800    2020-06-13 03:33:14
40801    2020-06-13 03:33:14
40802    2020-06-13 03:33:14
40803    2020-06-13 03:33:14
40804    2020-06-13 03:33:14
Name: Last Update, Length: 40805, dtype: object>

In [41]:
updated_data = (df['Last Update'] == '2020-06-13 03:33:14')

In [33]:
updated_data.value_counts()

False    40076
True       729
Name: Last Update, dtype: int64

Print the total no. of observations and unique country records in updated_data

In [88]:
updated_data=  df.loc[40076:40804,['Last Update', 'Country/Region', 'Confirmed', 'Deaths', 'Recovered']]
updated_data

               Last Update  Country/Region  Confirmed  Deaths  Recovered
40076  2020-06-13 03:33:14     Afghanistan    23546.0   446.0     3928.0
40077  2020-06-13 03:33:14         Albania     1416.0    36.0     1034.0
40078  2020-06-13 03:33:14         Algeria    10698.0   751.0     7322.0
40079  2020-06-13 03:33:14         Andorra      853.0    51.0      781.0
40080  2020-06-13 03:33:14          Angola      130.0     5.0       42.0
...                    ...             ...        ...     ...        ...
40800  2020-06-13 03:33:14          Mexico      501.0    55.0      279.0
40801  2020-06-13 03:33:14         Ukraine     1506.0    38.0      675.0
40802  2020-06-13 03:33:14         Ukraine      515.0    15.0      322.0
40803  2020-06-13 03:33:14  Mainland China     1268.0     1.0     1267.0
40804  2020-06-13 03:33:14         Ukraine     1013.0    17.0      527.0

[729 rows x 5 columns]

In [89]:
updated_data['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Central African Republic', 'Chad', 'Comoros',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Diamond Princess',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See',
       'Honduras', 'Hungary', 'Iceland', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Ivory Coast', 'Jamaica', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan',
       'Sri Lanka', 'Sudan', 'Suriname', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda',
       'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Western Sahara', 'Yemen',
       'Zambia', 'Zimbabwe', 'Italy', 'Brazil', 'Russia', 'Mexico',
       'Japan', 'US', 'Canada', 'Colombia', 'Peru', 'Spain', 'India',
       'UK', 'Mainland China', 'Chile', 'Australia', 'Pakistan',
       'Germany', 'Sweden', 'Ukraine', 'Hong Kong', 'Macau'], dtype=object)

In [49]:
a = df.tail(729)
a

         SNo ObservationDate      Province/State  ... Confirmed Deaths  Recovered
40076  40077      06/12/2020                 NaN  ...   23546.0  446.0     3928.0
40077  40078      06/12/2020                 NaN  ...    1416.0   36.0     1034.0
40078  40079      06/12/2020                 NaN  ...   10698.0  751.0     7322.0
40079  40080      06/12/2020                 NaN  ...     853.0   51.0      781.0
40080  40081      06/12/2020                 NaN  ...     130.0    5.0       42.0
...      ...             ...                 ...  ...       ...    ...        ...
40800  40801      06/12/2020           Zacatecas  ...     501.0   55.0      279.0
40801  40802      06/12/2020  Zakarpattia Oblast  ...    1506.0   38.0      675.0
40802  40803      06/12/2020   Zaporizhia Oblast  ...     515.0   15.0      322.0
40803  40804      06/12/2020            Zhejiang  ...    1268.0    1.0     1267.0
40804  40805      06/12/2020     Zhytomyr Oblast  ...    1013.0   17.0      527.0

[729 rows x 8 columns]

Task 3
Create a subset of data from the dataframe updated_data, only taking the top 10 countries which have the maximum number of confirmed cases with features - 'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'. Name this dataframe as 'top_10'

In [91]:
updated_data

               Last Update  Country/Region  Confirmed  Deaths  Recovered
40076  2020-06-13 03:33:14     Afghanistan    23546.0   446.0     3928.0
40077  2020-06-13 03:33:14         Albania     1416.0    36.0     1034.0
40078  2020-06-13 03:33:14         Algeria    10698.0   751.0     7322.0
40079  2020-06-13 03:33:14         Andorra      853.0    51.0      781.0
40080  2020-06-13 03:33:14          Angola      130.0     5.0       42.0
...                    ...             ...        ...     ...        ...
40800  2020-06-13 03:33:14          Mexico      501.0    55.0      279.0
40801  2020-06-13 03:33:14         Ukraine     1506.0    38.0      675.0
40802  2020-06-13 03:33:14         Ukraine      515.0    15.0      322.0
40803  2020-06-13 03:33:14  Mainland China     1268.0     1.0     1267.0
40804  2020-06-13 03:33:14         Ukraine     1013.0    17.0      527.0

[729 rows x 5 columns]

In [94]:
top_10 = updated_data.sort_values(by = 'Confirmed', ascending=False)

In [95]:
top_10

               Last Update Country/Region  Confirmed   Deaths  Recovered
40577  2020-06-13 03:33:14             US   381714.0  30758.0        0.0
40556  2020-06-13 03:33:14         Russia   202935.0   3187.0   118024.0
40131  2020-06-13 03:33:14         France   188918.0  29315.0    69578.0
40148  2020-06-13 03:33:14           Iran   182525.0   8659.0   144649.0
40233  2020-06-13 03:33:14         Turkey   175218.0   4778.0   149102.0
...                    ...            ...        ...      ...        ...
40753  2020-06-13 03:33:14           Peru        0.0      0.0   107133.0
40368  2020-06-13 03:33:14         Canada        0.0      1.0        0.0
40748  2020-06-13 03:33:14          Chile        0.0      0.0   131358.0
40754  2020-06-13 03:33:14          Spain        0.0      0.0        0.0
40649  2020-06-13 03:33:14             US        0.0      0.0   547386.0

[729 rows x 5 columns]

In [96]:
top_10.head(10)

               Last Update Country/Region  Confirmed   Deaths  Recovered
40577  2020-06-13 03:33:14             US   381714.0  30758.0        0.0
40556  2020-06-13 03:33:14         Russia   202935.0   3187.0   118024.0
40131  2020-06-13 03:33:14         France   188918.0  29315.0    69578.0
40148  2020-06-13 03:33:14           Iran   182525.0   8659.0   144649.0
40233  2020-06-13 03:33:14         Turkey   175218.0   4778.0   149102.0
40678  2020-06-13 03:33:14         Brazil   167900.0  10368.0    49295.0
40574  2020-06-13 03:33:14             US   166164.0  12489.0        0.0
40377  2020-06-13 03:33:14             UK   156410.0  37069.0        0.0
40320  2020-06-13 03:33:14             US   146659.0   4978.0        0.0
40437  2020-06-13 03:33:14             US   131198.0   6260.0        0.0

print the name of the countries in 'top_10' dataset

In [100]:
top_10[['Confirmed', 'Country/Region']].head(10)

       Confirmed Country/Region
40577   381714.0             US
40556   202935.0         Russia
40131   188918.0         France
40148   182525.0           Iran
40233   175218.0         Turkey
40678   167900.0         Brazil
40574   166164.0             US
40377   156410.0             UK
40320   146659.0             US
40437   131198.0             US

Which country has the lowest number of confirmed cases among the ten countries in top_10 dataframe? 

ANSWER - US

Task 4
Add two columns in 'top_10' dataframe - 'Recovered_percentage' and 'Deaths_percentage'
where

'Recovered_percentage' = (Recovered cases / Confirmed cases) * 100

'Death_percentage' = (Deaths cases / Confirmed cases) * 100

In [101]:
top_10['Recovered_percentage'] = top_10['Recovered']/top_10['Confirmed']*100
top_10['Death_percentage'] = top_10['Deaths']/top_10['Confirmed'] * 100

In [102]:
top_10

               Last Update  ... Death_percentage
40577  2020-06-13 03:33:14  ...         8.057865
40556  2020-06-13 03:33:14  ...         1.570454
40131  2020-06-13 03:33:14  ...        15.517314
40148  2020-06-13 03:33:14  ...         4.744008
40233  2020-06-13 03:33:14  ...         2.726889
...                    ...  ...              ...
40753  2020-06-13 03:33:14  ...              NaN
40368  2020-06-13 03:33:14  ...              inf
40748  2020-06-13 03:33:14  ...              NaN
40754  2020-06-13 03:33:14  ...              NaN
40649  2020-06-13 03:33:14  ...              NaN

[729 rows x 7 columns]

Print the top 3 countries with highest recovery precent

In [105]:
top_10['Recovered_percentage'].max()

inf

peru, chile and US